.lesson-holder {
  display: flex;
  gap: 30px;
  /* align-items: center; */
}
.lesson-title-holder {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 30px;
}

.course-titles {
  display: flex;
  flex-wrap: wrap;
}

.course-divs {
  padding: 10px;
  background-color: #f6f2ff;
  color: #b58fff;
  border-radius: 30px;
  margin: 10px 3px;
}

.lesson-location-holder {
  display: flex;
  gap: 20px;
  align-items: center;
}

.lesson-location-holder p {
  font-size: 20px;
  font-weight: bold;
}

.lesson-location-holder button {
  padding: 10px;
  border-radius: 32px;
  width: 100px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

.lesson-location-holder button:hover {
  background-color: darkgray;
}

.teacher-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 32px;
  border: 1px solid #e4e4e7;
  background-color: #fcfcfd;
}

.teacher-img {
  width: 170px;
  height: 170px;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review span {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.feedback {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.like:hover {
  background-color: #f6f2ff;
  border-radius: 32px;
  padding: 10px;
}

.share:hover {
  background-color: #f6f2ff;
  border-radius: 26px;
  padding: 10px;
}

.btn {
  padding: 20px;
  margin: 0;
}

.btn:hover {
  background-color: #ac82ff;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.about p {
  margin: 10px;
}

.student-porfile {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 32px;
  border: 1px solid #e4e4e7;
  background-color: #fcfcfd;
}

.crystal-holder {
  display: flex;
  pad: 10px;
  align-items: center;
}
.crystal {
  width: 30px;
  height: 30px;
}

.info-holder {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
